@import '../../sass/global.scss';

.card {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  height: 475px;
  max-width: 293px;
  padding: 28px 20px 20px;
  margin: 0 -10px;

  font-size: 16px;

  transition: box-shadow $g-transition;

  &:hover {
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
  }

  &__category {
    position: absolute;
    top: 20px;
    left: 20px;

    padding: 5px 18px;
    
    font-size: 13px;
    color: white;

    background-color: #222;
  }

  &__image {
    margin-bottom: 10px;
    padding: 20px;
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    width: 100%;

    margin-top: 10px;
    padding-top: 20px;
    border-top: 1px solid $gray;
  }

  &__price {
    font-weight: bold;

    &--sale {
      color: $red;
    }
  }

  &__through-price {
    font-weight: normal;
    font-size: 15px;
    color: black;
    text-decoration: line-through;
  }

  &__button-img {
    height: 14.67px;

    margin-right: 13px;
  }

  &__button {
    display: flex;
    align-items: flex-start;

    height: 40px;

    padding: 11px 15px;

    font-family: 'Bebas Neue';
    font-size: 20px;
    line-height: 20px;
    color: white;

    border: none;
    background-color: $pink;

    transition: background-color $g-transition;

    &:hover {
      cursor: pointer;
      background-color: $light-pink;
    }
  }
}
